$bgcolor:#FFFFFF;
//$bordercolor:#f3f3f3;
$bordercolor:#e3e3e3;
$title-font:.5rem;
$sub-title-font:.45rem;
$body-font:.4rem;
$margin:.5rem;
$subColor:#6b6b6b;
$text-indent:.5rem;
$emphasicColor:#ff6e00;
$emphasicBorder:.06rem solid $emphasicColor;
$mainbg:#F1F0F0;
*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: $bgcolor;

    margin-bottom: $margin;
    .box-title{
        text-indent:$text-indent;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: $title-font;
        font-weight: normal;
        border-bottom: .001rem solid $bordercolor;
    }
    .box-body{
        padding:$margin 0;
    }

    .box-footer{


    }
}

.cell{
    display:-webkit-flex;
    display: flex;
    flex-flow: row wrap;
    .cell-item{
        margin-bottom: .2rem;
        width: 33.3%;
        .cell-body{
            img{
                display: inline-block;
            }
            text-align: center;
        }
        .cell-footer{
            color: $subColor;
            text-align: center;
        }

    }
}

.text{
    display:-webkit-flex;
    display: flex;
    flex-flow: row wrap;
    .text-item{
        margin:.4rem 0;
        width: 33.3%;
        border-right: .001rem solid #EEEEEE;
        text-align: center;
        .text-title{
            color:$subColor;
            margin-bottom: .1rem;
        }
        .text-body{
            font-size: $sub-title-font;
            font-weight: 400;
        }
        :nth-child(3),:nth-child(5){
            border: none;
        }
    }
}


.text-pannel{
    background-color: $bgcolor;
    .text-pannel-title{
        text-indent:$text-indent;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: $title-font;
        font-weight: normal;
    }
    .text-pannel-body{
        border-bottom: .001rem solid $bordercolor;
    }

    .text-pannel-footer{


    }
}


.text-ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    li{
        width: 50%;
        padding-bottom: $margin/2;
        border-bottom: .001rem solid $bordercolor;
        p{
            text-indent:$text-indent;
            line-height: .8rem;
            color: $subColor;
        }
        &:nth-child(2){
           p{
               text-align: right;
               padding-right: $margin;
           }
        }
    }

}

.tabbar{
    height: 1rem;
    font-size: $body-font;
    color: $emphasicColor;
    .item{
        padding-top: .2rem;
        display: inline-block;
        line-height: 1rem;
        padding-left: $margin;
        padding-right: $margin;
    }
    .checked{
        border-bottom:$emphasicBorder;
    }
}
